[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SIRthresholded"]
	path = SIRthresholded
	url = https://github.com/clement-w/sirthresholded
